	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h2><marquee behavior="scroll" direction="left">Employee Information</marquee></h2>


		<body bgcolor="lightblue">

			<form action="/fetchdata" autocomplete="on" method="POST">

				<h2 style="color: black">Enter Employee ID</h2>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>


		  		<button type="submit" style="background: rgb(104, 34, 34); height: 45px; width: 200px; color: white; size: 5; font:oblique;">Get Information</button><br><br>

		  		<button type="submit" formaction="http://3.134.115.108:80/" style="background: white	; height: 45px; width: 200px; color: black; size: 5; font:oblique;" method="GET">UPDATE DATABASE </button>

			</form>

		</body>
	</font>
